# Xcode
build/
DerivedData/
*.pbxuser
xcuserdata/
*.xcscmblueprint
*.xcuserstate

# Fastlane
fastlane/report.xml
fastlane/screenshots
fastlane/test_output

# Archive
*.xcarchive

# User-specific
*.DS_Store

